@import url("https://fonts.googleapis.com/css2?family=Manjari&display=swap");

body {
    padding: 0;
    margin: 0;
    width: 400px;
    font-family: "Manjari", sans-serif;
    font-size: larger;

    nav {
        background-color: #999999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        span#head {
            font-size: xx-large;
        }

        img {
            height: 22px;
            aspect-ratio: 1/1;
            cursor: pointer;
        }
    }

    div#section {
        display: flex;
        width: 100%;
        background-color: #cccccc;
        justify-content: space-around;
        padding: 5px 0;

        span#mean {
            width: 45%;
            display: flex;
            border-radius: 4px;
            justify-content: center;
            cursor: pointer;
            padding: 5px;
        }
        span#settings {
            width: 45%;
            display: flex;
            border-radius: 4px;
            justify-content: center;
            cursor: pointer;
            padding: 5px;
        }

        span.selected {
            background-color: #222222;
            color: white;
        }

        span.not-selected {
            background-color: white;
            color: black;
        }
    }

    div#main {
        background-color: #cccccc;
        padding: 15px 10px;

        div#list-holder {
            ol {
                list-style-type: upper-roman;
                li {
                    span {
                        display: flex;
                        justify-content: space-between;
                        padding-right: 20px;
                        img {
                            height: 16px;
                            aspect-ratio: 1/1;
                            cursor: pointer;
                        }
                    }
                    ul {
                        list-style-type: disc;
                    }
                    ul:nth-child(2n + 1) {
                        list-style-type: circle;
                    }
                }
            }
        }
    }

    div#settings-menu {
        background-color: #cccccc;
        padding: 10px 0;

        label {
            width: 80%;
            margin: 5px;
        }

        input#site {
            width: 80%;
            margin: 5px;
            padding: 5px;
            box-sizing: border-box;
        }

        input#update {
            width: 60%;
            padding: 5px;
            font-size: medium;
            margin: 5px;
        }
    }

    div#settings-menu:not(.hidd) {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    div.hidd {
        display: none;
    }

    span#alert {
        display: none;
        position: fixed;
        bottom: 16px;
        transform: translateX(200%);
        background-color: white;
        z-index: 1;
        border-radius: 8px;
        padding: 10px;
    }

    span#alert.visible {
        display: block;
    }
}

body.dark {
    color: white;

    nav {
        background-color: #111111;
    }

    div#main {
        background-color: #222222;
        div#list-holder {
            ol {
                li {
                    span {
                        img {
                            transform: scaleY(-1);
                        }
                    }
                }
            }
        }
    }

    div#settings-menu {
        background-color: #222222;
    }

    div#section {
        background-color: #222222;
        padding-bottom: 5px;
        span.selected {
            background-color: rgb(23, 168, 1);
            color: black;
        }
        span.not-selected {
            background-color: #444444;
            color: white;
        }
    }

    span#alert {
        background-color: black;
        color: white;
    }
}
