@import url("https://fonts.googleapis.com/css2?family=Manjari&display=swap");

body {
    padding: 0;
    margin: 0;
    width: 400px;
    font-family: "Manjari", sans-serif;
    font-size: larger;

    nav {
        background-color: #bbbbbb;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        span#head {
            font-size: xx-large;
        }

        img {
            height: 22px;
            aspect-ratio: 1/1;
            cursor: pointer;
        }
    }

    div#main {
        padding: 10px;
        background-color: #cccccc;

        div#list-holder {
            ol {
                list-style-type: upper-roman;
                li {
                    span {
                        display: flex;
                        justify-content: space-between;
                        padding-right: 20px;
                        img {
                            height: 16px;
                            aspect-ratio: 1/1;
                            cursor: pointer;
                        }
                    }
                    ul {
                        list-style-type: disc;
                    }
                    ul:nth-child(2n+1) {
                        list-style-type: circle;
                    }
                }
            }
        }
    }

    span#alert {
        display: none;
        position: fixed;
        bottom: 16px;
        transform: translateX(200%);
        background-color: white;
        z-index: 1;
        border-radius: 8px;
        padding: 10px;
    }

    span#alert.visible {
        display: block;
    }
}

body.dark {
    color: white;

    nav {
        background-color: #111111;
    }

    div#main {
        background-color: #222222;
        div#list-holder {
            ol {
                li {
                    span {
                        img {
                            transform: scaleY(-1);
                        }
                    }
                }
            }
        }
    }
}
